.search {
  position: absolute;
  z-index: 9;
  left: 17%;
  top: 10%;
  width: 60%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;
}

.image-container {
  position: relative;
  height: 550px;
  top: 0;
  left: 0;
  background-image: url(../public/icon.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  margin: 20px 0;
}
